[Unit]
Description=A Node.js app to control your MeArm Pi over the network
After=network.target

[Service]
WorkingDirectory=/usr/local/mearm-js
ExecStart=/usr/local/mearm-js/bin/mearm-js --no-ui
StandardOutput=syslog+console
StandardError=syslog+console
Type=simple

[Install]
WantedBy=multi-user.target
Alias=mearm-js
