#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 0.0.8
APPNAME = mearm-js
PACKAGEVERSION = $(VERSION)
INSTALLDIR = debian/${APPNAME}/opt/${APPNAME}

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/${APPNAME}
override_dh_auto_test:
override_dh_usrlocal:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p $(INSTALLDIR)
	rsync -av . $(INSTALLDIR) --exclude debian --exclude .git --exclude node_modules --exclude .gitignore
	cd $(INSTALLDIR) && npm install

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
